.trait {
    border: 2px solid #007DFE;
    width: 20%;
    margin: 0 auto;
}

.fond-bleu{
    background-color: #007DFE;
}

.nav-pills a {
    cursor: pointer;
}

.sidebarContainer {
    background-color: #007DFE;
}

.btnClose {
    background-color: white;
    color: #007DFE;
}

.listFmts {
    font-weight: bold;
}

.titreFmt {
    color: #007DFE;
}

.formajtFmt input,
textarea {
    color: #007DFE;
}

.btnAddFmt {
    color: #007DFE;
}